{% extends "loginlayout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Techy</h1>
        <p>Techy is a 2019-created blog by Sandel Ikani, congolese (Congo Brazaville) student in oder to share
            some useful informations about programming and tech, the blog is opened for everybody, anybody may register, and
            might post.
            

            <p>Contact us through : techyintelo@gmail.com</p>
        </p>

        
    </div>
    <div class="content-section">
        <h1>Sandel Ikani, Nixa sanix</h1>
        <div class="media">
            <img class="rounded-circle account-img" src="/static/profile_pics/sanix.png">
            <div class="media-body">
              <p class="text-secondary">Sanix Sanick, a congolese student studying in Russia, St.petersburg's
                  polytechnic university, Peter the great. As child, I was always dreaming creating websites
                just a childohood's passion, but I'm not a web developper, never dreamt to be. I aspire to become 
            a data scientist one day. <br/> Ozui nga bien ?</p>
            </div>
        </div>
        

        
    </div>
    



    
{% endblock content %}