{% extends "loginlayout.html" %}
{% block content %}
    <script>
        alert("lies")
    </script>
    <section class="slideshow">
        <div class="slideshow-container slide">
        <img src="http://placeimg.com/625/225/nature"/>
   
        <img src="http://placeimg.com/625/225/people"/>
        <img src="http://placeimg.com/625/225/tech"/>
        </div>
    </section>

    <div class="content-section">
        <h1>EkoB</h1>
        <p>EkoB is a 2019-created blog by Sandel Ikani, congolese (Congo Brazaville) student in oder to share
            some useful informations about programming and tech, the blog is opened for everybody, anybody may register, and
            might post.
            

            <p>Contact us through : techyintelo@gmail.com</p>
        </p>

        
    </div>

   

    <div class="content-section">
        <h1>Sandel Ikani, Nixa, THE SK</h1>
        <div class="media">
            <img class="rounded-circle account-img" src="/static/profile_pics/sanix.png">
            <div class="media-body">
              <p class="text-secondary">Sanix Sanick, a congolese student studying in Russia, St.petersburg's
                  polytechnic university, Peter the great. As a kid, I always dreamed building websites even though 
                I had no clue about programming. As I discovered how websites are built, so I dared and...it worked !
                  just a childohood's passion, but I'm not a web developper, just a passion. I aspire to become 
            a data scientist one day. <br/> Ozui nga bien ?</p>
            </div>
        </div>
        

        
    </div>

    <section class="slideshow">
        <div class="slideshow-container slide">
        <img src="http://placeimg.com/625/225/tech"/>
       
        <img src="http://placeimg.com/625/225/arch"/>
        <img src="http://placeimg.com/625/225/animals"/>
        </div>
    </section>
    
        
{% endblock content %}