{% extends "layout.html" %}
{% block content %}
    {% for ebook in ebooks.items %}
        <article class="media content-section">
         
          <div class="media-body">
            <h2>{{ ebook.title }}</h2>
            <p class="article-content">{{ ebook.author|safe}} </p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in ebooks.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if ebooks.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('files.ebooks', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('files.ebooks', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  
{% endblock content %}