<!--
We will create a family tree using just CSS(3)
The markup will be simple nested lists
-->

<link rel="stylesheet" href="{{url_for('static', filename='family_tree.css')}}"></link>
<div class="tree">
	<ul>
		<li>
			<a href="#">Parent</a>
			<ul>
				<li>
					<a href="#">Child</a>
					<ul>
						<li>
							<a href="#">Grand Child</a>
						</li>
					</ul>
                </li>
                <li>
					<a href="#">Child</a>
					<ul>
						<li>
							<a href="#">Grand Child</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Child</a>
					<ul>
						<li><a href="#">Grand Child</a></li>
						<li>
							<a href="#">Grand Child</a>
							<ul>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
							</ul>
						</li>
						<li><a href="#">Grand Child</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>

https://www.highcharts.com/blog/tutorials/network-graph/?__cf_chl_jschl_tk__=ae08508699006c82b6d8718df9d8e2497fcb7e0f-1582798846-0-ATVKvs_rR4Q12TsSVjUWOOUSw09hS90p4vaaban7Gsa4ZHhRG-ZxZ5mZIPRE-MKM2IE4sOX3uWVWGhdQ_Vb5IoCq8AIB0XEoSK3KB4kdlja2BQHk_rKgJT8OAKOZEMNdQST4tiPeuErbWqo58rlSS-hdUxoR9bSmZwa8N3nTx2Qm5jACt4feeU20RjOLsSi1x7-cPB1CRuWL2JVYLidYci6wfYzIa4ugI9wQDrL8nqbN93c_bZpgwbB218cZ_tE3byAkVuDtF_LklZ3hAv2D4u-Qt0RGbEqhDfW3ogISFxC81GFGVr1eHVcFeYhnhLsZzOmKYfzkrQjR2opW346v9bv2XnpVgaP5zqX4w2TrLuLhxly36-fdeK-He5LfoTwGiQ