{% extends "layout.html" %}


{% block content %}
{{ share.load() }}


 
  
    
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          <small class="text-muted">{{ post.author.location }}</small>
          <div>
            {% if post.author==current_user %}
              <p class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOption"><span class="glyphicon glyphicon-th-list">
                </span class="ecrits">...</a>
              </p> 
              <div id="collapseOption" class="panel-collapse collapse">
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
              </div>
          
            {% endif %}
          </div>
        </div>
    
    

        <div class="article-metadata">
          <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content |safe}} </p>
      
          <div> <!--POur les tags-->
            {% for tags in post.tags -%}
              <a href="{{ url_for('posts.tag_posts', tag_id=tags.id) }}"><span class="badge badge-primary">{{ tags.title }}</span></a>
            {% endfor %}
          </div>
     
        </div>
        <div class="card-footer">
          <a href="{{url_for('posts.like_action', post_id=post.id, action='like')}}" class="card-link"><i class="fa fa-gittip"></i> ({{post.nbrlikes}})Like</a>
      
          <a href="#" class="card-link"><i class="fa fa-comment"></i> ({{post.nbcomments}})Comment</a>
          <i>Share</i>
          <div class="dropdown">
            <i class="dropbtn" ><i class="fa fa-mail-forward"></i></i>
            <div class="dropdown-content">
              {{ share.create(title='Share with: ') }}
            </div>
          </div>
        </div>
      </div>
    </article>
    
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% if current_user.is_authenticated %}
  <!-- CommentForm and comments section here -->
  <form method="post">
    
   
                                <!--le lien pour-->
   <!-- <a href="{{url_for('posts.commenter', post_id=post.id)}}">-->
    
    <!--</a>-->

    <div class="form-group">
      <label class="control-label col-sm-2" for="comment">Your Comment:</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="5" id="comment" id="comment" name="comment"></textarea>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn" value="comment">
      </div>
    </div>
  </form>

{% endif %}  



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th-list">
                            </span class="ecrits">Comments Section</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        {% for comment in comments %}

                          <article class="media content-section">
                            <div class="media-body">
                              <div class="article-metadata">
                                <a class="mr-2" href="#">{{ comment.author.username }}</a>
                                <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                                <small class="text-muted">{{ comment.author.location }}</small>
                              </div>
                              <div class="article-metadata">
                                  
                                <p class="article-content">{{ comment.content |safe}} </p>
                                  
                              </div>
                                
                              <div class="card-footer">
                                
                                {% if post.author==current_user or comment.author==current_user %}
                              
                                  <form action="{{url_for('posts.reply', comment_id=comment.id, post_id=post.id)}}" method="POST">
                                    <textarea id="reply" name="reply" class="reponses"></textarea>
                                  <!--le lien pour-->
                                  
                                    <button class="btn" value="reply"> Reply </button>
                                  
                                  </form>
                                {% endif %}
                              
                                {% for reply in comment.reply %}
                                  <div class="article-metadata">
                                    <small class="text-muted">{{ reply.author.username }}</small>
                                    <small class="text-muted">{{ reply.date_posted.strftime('%Y-%m-%d') }}</small>
                                    <div class="article-metadata">
                                      <p class="reponses">{{ reply.content | safe }}</p>
                                    </div>
                                  </div>
                                {% endfor %}
                              </div> 
                              
                            </div>  
                          </article>  
                        
                        {% endfor %}      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <h2 class="ecrits">Related Posts </h2>
  
  {% for pots in rposts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + pots.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('users.user_posts', username=pots.author.username) }}">{{ pots.author.username }}</a>
          <small class="text-muted">{{ pots.date_posted.strftime('%Y-%m-%d') }}</small>
          <small class="text-muted">{{ pots.author.location }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=pots.id) }}">{{ pots.title }}</a></h2>
       
      </div>
    </article>
{% endfor %}
  
{{ share.create(title='Share with: ') }}

{% endblock %}