{% extends "layout.html" %}
{% block content %}


<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      <small class="text-muted">{{ post.author.location }}</small>
      {% if post.author == current_user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ post.title | safe }}</h2>
    <p class="article-content">{{ post.content | safe }}</p>
  </div>
</article>


<a href="{{url_for('posts.post', post_id=post.id)}}">Comments section</a>


{% for comment in comments.items %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
        <small class="text-muted">{{ comment.author.username }}</small>
      <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
      <small class="text-muted">{{ comment.author.location }}</small>
      
    </div>
    
    <p class="article-content">{{ comment.content | safe }}</p>
<!--replies -->
    <form method="POST", action="">
  
    
      <div class="form-group">
        {{ form.content.label(class="form-control-label") }}
        {% if form.content.errors %}
          {{ form.content(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.content.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.content(class="form-control form-control-lg") }}
       
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>

  </div>
</article>
{% endfor %}
  


{% endblock content %} 