{% extends "layout.html" %}

{% block content %}
<p>{{taille}}</p>
  {% for result in results %}
    <article class="media content-section">
          
      <div class="media-bodyb">
        <div class="article-metadata">
             <a class="mr-2" >{{ result.uploader.username }}</a>
              <small class="text-muted">{{ result.date_posted.strftime('%Y-%m-%d') }}</small>
              <small class="text-muted">{{ result.uploader.location }}</small>
        </div>
            <h2><a class="article-title" href="{{ url_for('files.file', file_id=result.id) }}">{{ result.title }}</a></h2>
            
            <p class="article-content">{{ result.description[:30]|safe}} <a href="{{url_for('files.file', file_id=result.id)}}">Read more...</a></p>
      </div>
    </article>

  {% endfor %} 


{% endblock content %}