{% extends "layout.html" %}
<title>Tags input</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.js"></script>

{% block content %}

<div> <!--POur les tags-->
    {% for tag in tags -%}
      <a href="#"><span class="badge badge-primary">{{ tag.title }}</span></a>
    {% endfor %}
</div>


        
        
<div class="content-section">   
  <form method="POST" action="{{ url_for('posts.tagin', post_id=post.id)}}">   
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ legend }}</legend>
      <div class="form-group">
          {{ form.title.label(class="form-control-label") }}
          {% if form.title.errors %}
              {{ form.title(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.title.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.title(class="form-control form-control-lg") }}
          {% endif %}
      </div>
      
  </fieldset>
  <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
  </div>

  </form>
</div>

{% endblock content %}